// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-btn {
    position: absolute;
    right: 100px;
    top: 19px;
}
.search-blk {
    position: relative;
    padding-bottom: 24px;
    padding-left: 20px;
}
select#project_id {
    width: 160px;
    height: 27px;
}
.dash-titles {
    padding-left: 20px;
}
.dash-tasks table {
    position: relative;
    margin-left: 19px;
    width: 97%;
}
.menu li a {
    font-size: large;
    padding-left: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8791AC;
}
.menu li {
    float: left;
}
.menu li a:hover {
    background-color: #e7e9ee;
}
